<html>

<head>
  <title>Stroop Test</title>
</head>

<style>
  body {
    background-color: #a9a9a9;
    color: 3f3f3f;
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  h1 {
      text-align: center;
  }
  p {
      font-size: 25px;
      margin: 10px;
      text-align: left;
  }
  button {
      padding: 8px 16px;
      font-size: 20px;
      width: 200px;
      align-self: center;
      margin: 30px;
  }
</style>
  
<body>

  <h1>Welcome to the Stroop Test</h1>
  <p>You will see words displayed in different colors. Click the button that matches the color of the word, NOT the word itself!</p>
  <p>Respond as quickly and accurately as possible. Your reaction times will be recorded for analysis. Complete all 20 trials before stopping.</p>

  <button onclick="window.location.href='/test'">Start Test</button>

</body>

</html>
  
  
